*{
  padding: 0;
  margin: 0;
  // box-sizing:border-box;
  // box-shadow: 0 0 0 3px red inset;
  /* ajout d'une bordure intérieure à chaque élément*/
}
body {
  margin:0;
  height: 100vh;
  width:100vw;
}
.wrap {
  --pcolor: #1b1b1b;

  font-family: "Montserrat", serif;
  font-size: 16px;
  color: var(--pcolor);

  .container {
    // max-width: 1200px;
    margin: 0 auto;
    // overflow-x: hidden;
  }

  .flex {
    display: flex;
  }

  a, button {
    cursor: pointer;
  }

  button {
    @extend .flex;
    padding: 12px 24px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 8px;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;

    &.primary {
      background-color: var(--pcolor);
      color: #fff;

      svg {
        fill: #fff;
        width: 18px;
      }
    }
  }

  header {
    padding: 20px 0;
    font-weight: 500;

    .menu {
      @extend .flex;
      gap: 30px;

      a {
        border-bottom: 1px solid transparent;
        padding-bottom: 4px;
        transition: all .4s;

        &:hover, &.active {
          border-bottom: 1px solid var(--pcolor);
        }

        &.border0 {
          border: 0;
        }

        svg {
          width: 24px;
          height: 24px;
        }

        &.theme {
          background-color: var(--pcolor);
          border-radius: 50%;
          width: 24px;
          height: 24px;
          padding: 2px;
        }
      }
    }

    .logo {
      background-color: var(--pcolor);
      padding: 12px;
      border-radius: 50%;
      color: #fff;
      transition:all .5s;
      font-size: 24px;
      font-weight: 800;
      cursor: pointer;
      background: linear-gradient(95deg, var(--pcolor), var(--pcolor));
      background-position: 200% 100%;
      transition: all 0.5s ease;

      &:hover{
        background: linear-gradient(95deg, red, orange);
        background-position: 100% 0;
      }
    }
  }

  .content {
    h1 {
      margin: 0 0 30px;
      font-size: 70px;
      line-height: 65px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      margin: 0 0 30px;
    }

    .btn-wrap {
      @extend .flex;
      gap: 20px;
      align-items: center;

      a {
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
      }
    }

    .bulb {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }

    .hire-me {
      position: absolute;
      left: 20px;
      bottom: 20px;
      display: flex;
      align-items: center;

      svg {
        width : 200px;
        height: fit-content;
        animation: rotate-anim 5s linear infinite;
      }

      div {
        background-color: var(--pcolor);
        color: #fff;
        font-weight: 600;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
  }
}

@keyframes rotate-anim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

