.wrap {
  --pcolor: #1b1b1b;

  font-family: "Montserrat", serif;
  font-size: 16px;
  color: var(--pcolor);

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .flex {
    display:flex;
  }

  a, button {
    cursor: pointer;
  }

  header {
    padding: 20px 0;
    font-weight: 500;

    .menu {
      gap: 30px;
      display:flex;

      a {
        border-bottom: 1px solid transparent;
        padding-bottom: 4px;
        transition: all .4s;

        &:hover, &.active {
          border-bottom: 1px solid var(--pcolor);
        }

        &.border0 {
          border: 0;
        }

        svg {
          width: 24px;
          height: 24px;

        }

        &.theme {
          background-color: var(--pcolor);
          border-radius: 50%;
          width: 24px;
          height: 24px;
        }
      }



    }
    
    .logo {
      background-color: var(--pcolor);
      padding:16px;
      border-radius: 50%;
      color: #fff;
      transition:all .5s;
      font-size: 24px;
      font-weight: 800;
      cursor: pointer;
      background: linear-gradient(var(--pcolor), var(--pcolor), var(--pcolor));


      &:hover{
        background: linear-gradient(red, orange, yellow);
      }
    }

  }
}
