<div class="content">
  <h1>My projects !</h1>

  <div class="projects-container">
    <div class="project-wrapper full-width">
      <div class="border">
        <img src="assets/img/portfolio/van_gogh_cafe.jpg" alt="">
        <div class="project-info">
          <div class="tags">
            <span>{{ projects[0].projectType }}</span>
          </div>
          <h2>{{ projects[0].title }}</h2>
          <p>{{ projects[0].description }}</p>
          <a [href]="projects[0].githubLink" target="_blank" class="github-btn">View on GitHub</a>
        </div>
      </div>
    </div>

    <div class="project-wrapper half-width">
      <div class="border">
        <img src="assets/img/portfolio/imageNASA1.jpg" alt="">
        <div class="project-info">
          <div class="tags">
            <span>{{ projects[1].projectType }}</span>
          </div>
          <h2>{{ projects[1].title }}</h2>
          <a [href]="projects[1].githubLink" target="_blank" class="github-btn">View on GitHub</a>
        </div>
      </div>
    </div>

    <div class="project-wrapper half-width">
      <div class="border">
        <img src="assets/img/portfolio/van_gogh_cafe.jpg" alt="">
        <div class="project-info">
          <div class="tags">
            <span>{{ projects[2].projectType }}</span>
          </div>
          <h2>{{ projects[2].title }}</h2>
          <a [href]="projects[2].githubLink" target="_blank" class="github-btn">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
