<div class="content" fxFlex="100%" fxLayout="column" fxLayoutGap="60px" fxLayoutAlign="center center">
  <h1>My projects !</h1>
  <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="60px">
    <div fxFlex="33.3%" fxFlex.lt-sm="100%" fxLayoutAlign="center">
      <div class="border">
        <img src="assets/img/portfolio/imageNASA1.jpg" alt="" width="100%">
      </div>
    </div>
    <div fxFlex="33.3%" fxFlex.lt-sm="100%" fxLayoutAlign="center">
      <div class="border">
        <img src="assets/img/portfolio/van_gogh_cafe.jpg" alt="" width="100%">
      </div>
    </div>
    <div fxFlex="33.3%" fxFlex.lt-sm="100%" fxLayoutAlign="center">
      <div class="border">
        <img src="assets/img/portfolio/imageNASA1.jpg" alt="" width="100%">
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="60px">
    <div fxFlex="33.3%" fxFlex.lt-sm="100%" fxLayoutAlign="center">
      <div class="border">
        <img src="assets/img/portfolio/van_gogh_cafe.jpg" alt="" width="100%">
      </div>
    </div>
    <div fxFlex="33.3%" fxFlex.lt-sm="100%" fxLayoutAlign="center">
      <div class="border">
        <img src="assets/img/portfolio/imageNASA1.jpg" alt="" width="100%">
      </div>
    </div>
    <div fxFlex="33.3%" fxFlex.lt-sm="100%" fxLayoutAlign="center">
      <div class="border">
        <img src="assets/img/portfolio/van_gogh_cafe.jpg" alt="" width="100%">
      </div>
    </div>
  </div>
</div>
