.wrap {
  //TODO régler le pb car ne s'affiche pas actuellement
  margin:0;
  --pcolor: #1b1b1b;
  font-family: "Montserrat", serif;
  font-size: 16px;
  color: var(--pcolor);
  padding: 15px 110px 80px;
  // height: 100vh;
  // width:100vw;

    .container {
      max-width: 100%;
      // padding: 0 90px;
      margin: 0 auto;
      // overflow-x: hidden;
    }

    .flex {
      display: flex;
    }


  a, button {
    cursor: pointer;
    transform: translateX(0);
    transition: all .5s ;

    &:hover{
      transform: translateX(5px);
    }
  }

  button {
    @extend .flex;
    padding: 12px 24px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 8px;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;

    &.primary {
      background-color: var(--pcolor);
      color: #fff;

      svg {
        fill: #fff;
        width: 18px;
      }

      &:hover {
        background-color: transparent;
        color: var(--pcolor);
        border-color: var(--pcolor);

        svg {
          fill: var(--pcolor);
        }
      }
    }
  }

}

@keyframes rotate-anim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

